
<router-outlet></router-outlet>
<div class="layout">
    <div class="outer-circle">
      <img src="../assets/images/outer.svg" />
    </div>
    <div class="inner-circle">
      <img src="../assets/images/inner.svg" />
    </div>

    <div class="hour"  [ngStyle]="{'transform': getHourStyle()}">
      <img src="../assets/images/hour.svg" />
    </div>
    <div class="second" [ngStyle]="{'transform': getSecondStyle()}">
      <img src="../assets/images/sec.svg" />
    </div>
    <div class="minute"  [ngStyle]="{'transform': getMinStyle()}">
      <img src="../assets/images/min.svg" />
    </div>
</div>